<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Title Of Site -->
    <jcms:site:seotitle/>

    <!-- Fav and Touch Icons -->
    <jcms:site:fevicon/>

    <!-- Font face -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS Plugins -->
    <!--<link href="css/font-icons.css" rel="stylesheet">-->
    <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <!--<link href="css/animate.html" rel="stylesheet">-->
    <!--<link href="css/main.css" rel="stylesheet">-->
    <!--<link href="css/plugin.css" rel="stylesheet">-->

    <!-- CSS Custom -->
    <!--<link href="css/style.css" rel="stylesheet">-->

    <!-- CSS Custom -->
    <!--<link href="css/overlay.css" rel="stylesheet">-->
    <!--<link href="css/your-style.css" rel="stylesheet">-->
    <link href="css/bundle.css" rel="stylesheet">
</head>

<body class="with-waypoint-sticky">
    <!-- start Body Inner -->
    <div class="body-inner">
        <!-- start Header -->
        <header id="header-waypoint-sticky" class="header-main header-mobile-menu with-absolute-navbar">
            <div class="container">
                <div class="header-outer clearfix">
                    <div class="row shrink-auto-lg gap-0 align-items-center">
                        <div class="col-9 col-shrink z-in-1111">
                            <div class="col-inner">
                                <div class="main-logo">
                                    <jcms:site:logo/>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-3 col-shrink order-last-lg">
                            <div class="col-inner">
                                <ul class="nav-mini-right">
                                    <li>
                                        <button class="btn btn-toggle collapsed" data-toggle="collapse"
                                                data-target="#mobileMenu"></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="col-12 col-auto order-last-lg">
                            <div class="navbar-wrapper">
                                <div class="navbar navbar-expand-lg">
                                    <div id="mobileMenu" class="collapse navbar-collapse">
                                        <nav class="main-nav-menu main-menu-nav navbar-arrow">
                                            <jcms:module:menu/>
                                        </nav><!--/.nav-collapse -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- start Header -->

        <!-- start Main Wrapper -->
        <div class="main-wrapper scrollspy-container">
            <div class="banner-vedio">
                <jcms:module:home-slideshow/>
                
                <div class="hero-banner overlay-light opacity-2">
                    <div class="hero-inner">
                        <div class="container">
                            <h1>Lifetime experience with NHV Next</h1>
                            <!--<p class="font-lg">Trekking, Tour, Adventure Sports and more...</p>-->
                            <div class="search-form-main">
                                <jcms:module:quickform/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<img src="img/hill.png" class="new-img" alt="Mountains">-->
            <!--<img src="img/temple1.png" class="new-img1" alt="Temple">-->

            <div class="tour-packages1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2>Featured Trips</h2>
                                <p class="sherpa1">One of the leading trekking agencies of Nepal, would like to invite you to discover the diversity and wonders and beauties of the Himalayas.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row d-flex equal-height cols-1 cols-sm-2 cols-lg-4 gap-20 mb-30">
                                <jcms:module:package-home/>
                            </div>
                        </div>
                    </div>
                    <img src="img/temple.png" class="new-img2" alt="Temple">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="info-home">NHV Next offers high-quality and personalized services specialized in adventurous trekking, tours, river rafting, and peak climbing in Tibet and Bhutan as well.</p>
                            <p class="info-home pt-0">We are professionals in the field capable of tailoring itineraries to your interests, abilities, and time constraints.</p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="deals1">
                <div class="container">
                    <div class="section-title">
                        <h2>Why travel with us?</h2>
                    </div>
                    <div class="deals1-inner1">
                        <div class="row cols-1 cols-lg-3 gap-20 gap-lg-40">
                            <div class="col">
                                <div class="featured-icon-horizontal-01 clearfix">
                                    <div class="icon-font">
                                        <i class="elegent-icon-gift_alt text-primary"></i>
                                    </div>
                                    <div class="content">
                                        <h6>Flexible & Quality service</h6>
                                        <!--<p class="text-muted">Considered an invitation do introduced sufficient understood instrument it. </p>-->
                                        <p class="text-muted">We design each day itinerary to fulfill and match our travelers requirements.</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col">
                                <div class="featured-icon-horizontal-01 clearfix">
                                    <div class="icon-font">
                                        <i class="elegent-icon-wallet text-primary"></i>
                                    </div>
                                    <div class="content">
                                        <h6>Best price guaranteed</h6>
                                        <!--<p class="text-muted">Discovery sweetness principle discourse shameless bed one excellent.</p>-->
                                        <p class="text-muted">We assure that you are getting best possible price at the time of booking.</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col">
                                <div class="featured-icon-horizontal-01 clearfix">
                                    <div class="icon-font">
                                        <i class="elegent-icon-heart_alt text-primary"></i>
                                    </div>
                                    <div class="content">
                                        <h6>Safety & Responsible</h6>
                                        <!--<p class="text-muted">Sentiments of surrounded friendship dispatched connection john shed hope.</p>-->
                                        <p class="text-muted">The trip was most memorable and remarkable to every travelers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/trip.png" class="new-img" alt="Mountains">
            </section>

            <div class="things-to-do">
                <div class="container">
                    <div class="section-title">
                        <h2>Popular Destination</h2>
                        <p class="recomend-trip1">Tell us your dream and let us do work. Whether its trekking, mountaineering expedition, or luxury tours, let us craft your perfect trip.</p>
                    </div>
                </div>
    
                <div class="slick-list-visible">
                    <div class="container">
                        <div class="slick-carousel-wrapper gap-5">
                            <div class="slick-carousel-inner">
                                <div class="slick-top-destination">
                                    <jcms:module:home-destination/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="trips-home">
                <div class="container">
                    <div class="section-title">
                        <h2>Our Best Selling Trips</h2>
                        <p style="color:#222222;" class="sherpa1 trip-sherpa3">Scaling Himalayan giants, wandering through ancient trails, or soaking in luxury — we’re here to make it real. You dream it, we make it happen. No stress, just seamless travel.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 popular1">
                            <div class="row d-flex equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30">
                                <jcms:module:package-feature/>
                            </div>
                        </div>
                    </div>
    
                    <p class="text-center add_bottom_30 d-none">
                        <a href="searchlist" class="btn_cus trip1_btn">View All Trips</a>
                    </p>
                </div>
                 <img src="img/camp.png" class="new-img1" alt="Temple">
            </div>
            
            <div class="trips-home pt-0">
                <div class="container">
                    <div class="section-title">
                        <h2>Fixed Departures</h2>
                        <p style="color:#636363;" class="sherpa1 trip-sherpa3">Looking for an easy way to travel without the stress of planning? Our Fixed Departure Packages are perfect for you – Hassle-Free, Affordable, and Fun!!</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 popular1">
                            <div class="row d-flex equal-height cols-1 cols-sm-2 cols-lg-3 gap-20 mb-30">
                                <jcms:module:package-fixedHome/>
                            </div>
                        </div>
                    </div>
    
                    <p class="text-center add_bottom_30">
                        <a href="fixed-departure" class="btn_cus trip1_btn">View All Trips</a>
                    </p>
                </div>
            </div>
            
            <div class="home-review4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="bg-white-gradient-top-bottom pt-0">
                                 
                				<div class="bg-image overlay-relative">
            						<div class="testimonial-grid-slick-carousel testimonial-grid-wrapper">
            						    <div class="testimonial-grid-arrow">
            								<ul>
            									<li class="testimonial-grid-prev"><button><span>previuos</span></button></li>
            									<li class="testimonial-grid-next"><button><span>next</span></button></li>
            								</ul>
            							</div>
            						    <h2>Traveller's Reviews</h2>
            						    <p class="revie3">Authentic experiences shared by real people</p>
							
            							<div class="slick-carousel-wrapper gap-50">
            								<div class="slick-carousel-outer">
            									<div class="slick-carousel-inner">
            										<div class="slick-testimonial-grid-arrows">
            											<jcms:module:testimonial-list/>
            										</div>
            									</div>
            								</div>
            							</div>
            						</div>
                				</div>
                			</div>
                        </div>
                        <div class="col-md-4">
                            <div class="customis">
                                
                                    <div class="customis-cover">
                                        <div class="banner_2">
                                            <div class="wrapper d-flex align-items-center opacity-mask"
                                                 data-opacity-mask="rgba(0, 0, 0, 0.3)">
                                                <div>
                                                    <h3>“Crafted for you,<br/> inspired by you.”</h3>
                                                    <a href="customize" class="btn_cus" style="font-size:14px;">Customize Your Trip</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="travel-vlog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-title">
                                <h2>Travel Blogs</h2>
                                <p>Highlighting some of latest travel news. Whether its trekking, mountaineering, expedition, or luxury tours, that can help you travel better.</p>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12 blogtravel12">
                            <div class="row">
                                <jcms:module:home-blog/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Main Wrapper -->
        <div class="cookieAler">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-9">
                        <p>This website uses cookies to enhance user experience and to analyze performance and traffic on our website. We also share information about your use of our site with our social media, advertising and analytics partners.</p>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript:void(0)" class="btn btn-primary nowrap agree btn-sm">
                            Accept Cookies
                        </a>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn-close close-cookie" aria-label="Close"><i class="fas fa-multiply"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- start Footer Wrapper -->
        <jcms:module:footer/>
        <!-- start Footer Wrapper -->
    </div>
    <!-- end Body Inner -->

<!-- start Back To Top -->
<a id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return to top" data-toggle="tooltip"
   data-placement="left"><i class="elegent-icon-arrow_carrot-up"></i></a>
<!-- end Back To Top -->

<div id="option_btn" class="">
    <!-- <a href="#" class="demotip tooltipstered"><img src="img/messenger.png"></a>
    <a href="#" class="demotip tooltipstered"><img src="img/viber.png"></a>
    <a href="#" class="demotip tooltipstered"><img src="img/whatsapp.png"></a> -->
    <!--<img src="img/offer.jpg" style="width: 96px">-->

</div>

<!-- JS -->
<!--<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>-->
<!--<script type="text/javascript" src="js/plugins.js"></script>-->
<!--<script type="text/javascript" src="js/custom-core.js"></script>-->
<script type="text/javascript" src="js/bundle.js"></script>
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery.validate.js"></script>

<script>
    var base_url = $('base').attr('url');
    $('.qdestination').on('change', function () {
        var destId = $(this).val();
        $('.qactivities').html('<option>Loading...</option>');
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: base_url + "quicksearch.php",
            data: "action=filteractivity&destid=" + destId,
            success: function (data) {
                var msg = eval(data);
                if (msg.action == 'success') {
                    $('.qactivities').html(msg.result);
                }
            }
        });
        return !1
    });
</script>
<script type="text/javascript">
    var base_url = jQuery('base').attr('url');
    jQuery(document).ready(function () {
        jQuery('#home_search').validate({
            errorElement: 'span',
            errorClass: 'validate-has-error',
            rules: {

                "qdestination[]": {
                    required: true
                },
                "qactivities[]": {
                    required: true,
                },
                "days": {
                    required: true,
                }
            },
            messages: {
                
                   "qdestination[]": {
                    required: "Please Select your destination."
                },
                "qactivities[]": {
                    required: "Please Select your activity.",
                },
                "days": {
                    required: "Please Select your duration.",
                }
                
              

            }
        })
    });
            </script>
            
            <script>
              // Cookie Accept Banner
              jQuery(document).ready(function ($) {
                //   sessionStorage.setItem('cookieAgree', '0');
                // console.log(sessionStorage.getItem('cookieAgree'));
                  
                // Show the cookie alert after a short delay
                setTimeout(function () {
                    $('.cookieAler').animate({
                        bottom: "0"
                    });
                }, 1000);
            
                // Handle "I Agree" click
                $('.agree').on('click', function () {
                    sessionStorage.setItem('cookieAgree', '1');
                    $('.cookieAler').animate({
                        bottom: "-150"
                    });
                });
            
                // Handle close icon click
                $('.close-cookie').on('click', function () {
                    $('.cookieAler').animate({
                        bottom: "-150"
                    });
                });
            
                // Hide the alert if already agreed
                if (sessionStorage.getItem('cookieAgree') === '1') {
                    $('.cookieAler').removeClass('d-md-flex').addClass("hide hidden d-none");
                }
            });
            </script>

</body>
</html>